body {
  background-color: #F7EDE2;
}

.header {
  color: #4f6660;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 45px;
  margin-top: 30px;
  font-size: 28px;
}

.buddy {
  color: #e06e6c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  line-height: 30px;
  margin-left: 100px;
  margin-top: 90px;
}

.description {
  color: #4f6660;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  line-height: 10px;
  margin-left: 100px;
}

.checkbutton{
  background-color: #F5CAC3;
  color: #c05654;
  border: 0;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: 600;
  width: 500px;
  height: 70px;
  text-align: center;
  cursor: pointer;
}

.checkbutton:hover{
  background-color: #F6BD60;
  color: #4f6660;
}

.subbutton{
  background-color: #F5CAC3;
  color: #c05654;
  border: 0;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: 600;
  width: 350px;
  height: 65px;
  text-align: center;
  cursor: pointer;
}

.subbutton:hover {
  background-color: #F6BD60;
  color: #4f6660;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
