.check{
color: #4f6660;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  font-size: 18px;
}

.header{
  color: #4f6660;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  margin-top: 70px;
  background-color: #F6BD60;
  border-radius: 7px;
  border: 0;
  margin-left: 100px;
}

.bookheader{
  margin-top: 30px;
  margin-left: 100px;
  color: #4f6660;
  font-weight: 800;
}

.bookdescription{
  margin-left: 100px;
  margin-right: 100px;
  color: #4f6660;
}
.des{
  text-align: center;
}

.qouteheader{
  margin-left: 100px;
  color: #4f6660;
  font-weight: 800;
  margin-top: 50px;
}

.qoutedescription{
  margin-left: 100px;
  color: #4f6660;
}

.yogaheader{
  margin-left: 100px;
  color: #4f6660;
  font-weight: 800;
  margin-top: 50px;
}

.yogadescription{
  margin : 0 auto;
}